.wrap-v1 {
  width: 1600px;
  margin: 0 auto;
}

.wrap-v2 {
  width: 980px;
  margin: 0 auto;
}
.stepInfo-flex-wrap {
  min-height: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepInfo-button,
.stepInfo-tag {
  width: 100px;
  height: 40px;
  margin-top: 50px;
}
.btn-v1 {
  width: 100px;
  height: 40px;
}
